<div class="form-group">
   <label>Member Number&nbsp;<span class="tooltip-element" tooltip="Enter your member number you received from your club" style="display:inline-block">?</span></label><input type="text" name="member-number" data-club="31" placeholder="Member Number&nbsp;" class="red form-control" data-required="1">
   <p class="error mt-5">Code is invalid - Please <a href="#" data-toggle="modal" data-target="#contactModal">click here</a> and we can help.</p>
   <p class="error mt-5"></p>
   <p class="error mt-5"></p>
   <p class="error mt-5"></p>
   <p class="error mt-5"></p>
   <p class="error mt-5"></p>
</div>
<div class="form-group"><label>Participant First Name&nbsp;</label><input type="text" name="first-name" data-club="31" placeholder="Participant First Name&nbsp;" class="red form-control" data-required="1"></div>
<div class="form-group"><label>Participant Last Name&nbsp;</label><input type="text" name="last-name" data-club="31" placeholder="Participant Last Name&nbsp;" class="red form-control" data-required="1"></div>
<div class="form-group"><button type="button" style="background: #5bcbf3; color: #fff;" class="btn create-card-btn" disabled="disabled" data-club="31" data-file="BaseballNew_CJCortezss" data-account="1187488" id="XW1IrBb1L2" data-barcode="" data-member-id="" data-barcode-image="">Create</button></div>
