<footer class="footer-container clearfix">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <div class="row">
                        <div class="footer-holder col-xs-6 col-sm-6">
                            <div class="footer-links">
                                <ul>
                                    <img src = "./img/footer-sportspass.png">
                                    <li><a ui-sref-active="active" ui-sref="app.register">Join</a></li>
                                    <li><a ui-sref-active="active" ui-sref="app.login">Sign In</a></li>
                                    <li><a ui-sref-active="active" ui-sref="app.accountclub">Add Card</a></li>
                                    <li><a ui-sref-active="active" ui-sref="app.hotoffers">Hot Offers</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-holder col-xs-6 col-sm-6">
                            <div class="footer-links footer-links-b">
                                <ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class = "footer-under">
        <div class="container">
            <div class="row">
                <div class = "social-links">
                    <ul class = "clearfix">
                        <li><a target = "_blank" href = "https://twitter.com/SportsPass_Aust"><i class="fa fa-twitter"></i> TWITTER /</a></li>
                        <li><a target = "_blank" href = "https://www.facebook.com/sportspassaus/"><i class="fa fa-facebook"></i> FACEBOOK /</a></li>
                        <li><a target = "_blank" href = "https://www.instagram.com/sportspass_aus/"><i class="fa fa-instagram"></i> INSTAGRAM</a></li>
                    </ul>
                </div>
                <div class="copyrights">
                    <p> <a href="#top" onclick="scrollToTop();return false">BACK TO TOP </a> / SportsPass SportsCash <?php echo date('Y'); ?></p>
                </div>
            </div>
        </div>
    </div>
</footer>
