<header>
  <nav>
    <div class = "upper-nav clearfix" data-spy="affix" data-offset-top="200">
            <div class="container">
                <ul class = "left-nav clearfix">
                    <li class="bg-blue sports-pass">
                        <a ui-sref-active="active" ui-sref="app.main" target = "_blank">
                            <img src = "./img/sportspass-blue.png">
                        </a>
                    </li>

                    <!-- <li class = "sports-cash">
                        <a class="" href="<?= $BASE_URL ?>/">
                            <img alt = "Sports Pass Logo" src = "./img/sportscash-green.png">
                        </a>
                    </li> -->

                </ul>
                <ul class = "center-nav desktop-view">
                    <li><a ui-sref-active="active" ui-sref="app.accountclub"> ADD CARD</a></li>
                    <li ng-controller="LoginController as login"><a href = "#" ng-click="login.logout()">LOGOUT</a></li>
                </ul>
            </div>
        </div>
        <div class = "lower-nav clearfix">
            <div class="container">
                <!-- transfers icons  on mobile -->
                <ul class = "clearfix" id = "transferhere"></ul>

               <div class = "left-nav">
                    <div class="navbar-header">

                        <button id = "butclick" type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div>

                </div>
               <ul class = "right-nav">
                   <li>
                        <img class = "header-logo" src = "./img/header-sportspass.png">
                    </li>
                </ul>

                <div class = "mainmnu">
                     <div id = "navbarCollapse" class = "collapse navbar-collapse" style="padding-left: 0px">
                            <ul class = "clearfix">
                              <li><a ui-sref-active="active" ui-sref="app.hotoffers">HOT OFFERS</a></li>
                              <li><a ui-sref-active="active" ui-sref="app.main">EXPERIENCES</a></li>
                              <li><a ui-sref-active="active" ui-sref="app.main">BIRTHDAYS</a></li>
                              <li><a ui-sref-active="active" ui-sref="app.main">MOVIES</a></li>
                              <li><a ui-sref-active="active" ui-sref="app.main">TICKETS &amp; EVENTS</a></li>
                              <li><a ui-sref-active="active" ui-sref="app.main">GIFT VOUCHERS</a></li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
