<div class="container account-setup-wrapper mb-30">
    <div class="account-wrapper">
      <!--   <h1 class="mt-50 mb-20">Hi, <?= $account->firstname . ' ' . $account->lastname ?></h1> -->
        <h1 class="mt-50">Hi First Name</h1>
            <p class = "subdesc">This is the page where you can create digital membership cards for your organisations.</p>
            <p class = "subdesc">Remember this is where you create the card and enter details of the card holder. This maybe yourself or dependants. All cards added will be stored under the SportsPass account you just created.</p>
            <p class = "subdesc">If at any point you need help <a href="#" data-toggle="modal" data-target="#contactModal">click here</a>.</p>

            <h2 class="text-center mb-20">Cards To Be Created</h2>
            <p class = "subdesc text-center">To get started, select your organisation then create your card</p>
            <div class="row clearfix">
                <form class="form-vertical">
                    <div class="form-group">
                        <div class="col-md-4 col-md-offset-4">

                            <!-- <select get-club-layout="" class="form-control clubs">
                                <option value="">Select Organisation</option>

                                <option ng-repeat="listclub in clubs" data-club-id="{{listclub.id}}">  {{listclub.name}} </option>
                            </select> -->

                              <!-- <select get-club-layout="" class="form-control clubs" name="list" ng-model="defaultClub" ng-options="listClub.id as listClub.name for listClub in clubs track by listClub.id" ng-change="update()"> -->

                              <select class="form-control clubs" name="list" ng-model="defaultClub" ng-options="listClub as listClub.name for listClub in clubs" ng-change="selectClub()">
                                  <option value="">--Select Organisation--</option>
                              </select>

                            <hr/>
                        </div>

                    </div>

                </form>
            </div>
            <div class="cards-created clearfix">
              <div ng-include="getClubLayoutTemplate"></div>
            </div>

        <div class="row">
            <!-- <?php
                $card = SportsPassAccountCard::getCardByAccountId($account->id);

                if ($card) : ?> -->
            <h2 class="text-center mb-20">Your Digital Cards</h2>

            <div class="digital-cards clearfix mb-30">
                <div ng-repeat="listcard in card" class="addcard-container text-center mb-20">
                    <a ng-click="openCardModal(listcard)" href="javascript:;"
                       class="image-preview-modal">
                        <img src="{{ (getClubDetails(listcard)).image }}"
                             alt="{{ (getClubDetails(listcard)).name }}"
                             style="width: 100%"/>
                    </a>

                    <br/>
                    <h3 style="display: none;">{{ (getClubDetails(listcard)).name }}</h3>

                        <a href="javascript:;" style = "display:none" class="btn btn-primary card-modal" data-image="<?= $value['card'] ?>" data-club-id="<?= $value['club_id'] ?>" data-member-number = "<?= SportsPassClubMembers::getMemberMemberNumber($value['sp_member_id']) ?>" data-banner-image = "<?= $club['banner_image'] ?>" data-name="<?= SportsPassClub::getClubNameById($value['club_id']) ?>" data-card='<?= SportsPassClubMembers::getMemberCardData($value['sp_member_id']) ?>' data-avatar="<?= SportsPassAccountCard::getAvatarById($value['sp_member_id']) ?>" data-club-logo="<?= SportsPassClub::getClubLogoById($value['club_id']) ?>">
                            View Card
                        </a>

                        <a href="javascript:;" style = "display:none" class="btn btn-primary updatecard-modal" data-name="<?= SportsPassClub::getClubNameById($value['club_id']) ?>" data-club="<?= $value['club_id'] ?>" data-banner-image = "<?= $club['banner_image'] ?>" data-member-number = "<?= SportsPassClubMembers::getMemberMemberNumber($value['sp_member_id']) ?>" data-account="<?= $value['sp_member_id'] ?>" data-form='<?= $club['form'] ?>' data-card='<?= SportsPassClubMembers::getMemberCardData($value['sp_member_id']) ?>' data-avatar="<?= SportsPassAccountCard::getAvatarById($value['sp_member_id']) ?>">
                            Update Card
                        </a>
                </div>
            </div>
            <!-- <?php
                endif; ?> -->
        </div>

    </div>
</div>

<div class="spinner-bg" style="display:none;"></div>
<div id="spinner" class="spinner" style="display:none;">

    <h4><img id="img-spinner"
             src="<?php echo Yii::app()->request->baseUrl ?>/skin/sportspass/images/icons/Card-Loading.gif"
             alt="Loading"
             width="10%"
             class="mr-10 mb-10"
        />Saving your digital card details...</h4>
</div>

<div id="card-modal" class="modal fade-scale" role="dialog">

    <div class="modal-dialog">

        <div class="card-flip-container">
            <div class="card-flipper">
                <div class="card-front">
                    <img src=""
                         alt=""
                         class=""
                         style="width: 100%"/>
                </div>
                <div class="card-back">

                    <!-- Modal content-->
                    <div class="modal-content" style="text-align: center">

                        <div class="modal-body">


                        </div>
                    </div>


                </div>
            </div>
        </div>

         <a href="#" class="modal-close" data-dismiss="modal"><span class="modal-close-icon"></span></a>
    </div>


</div>

<div class='modal fade' id='successModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'>
    <div class='modal-dialog quick-view-dialog mt-200' role='document'>
        <div class='modal-content text-center'>
            <h3 class="mb-30">Success Your Card Has Been Added To Your Account</h3>
            <div class="row">
                <ul class="list list-inline">
                    <li><a href=""# class="btn btn-primary" data-dismiss="modal">Add Another?</a></li>
                    <li>or</li>
                    <li><a href="<?= $this->createAbsoluteUrl('/') ?>" class="btn btn-success">Finished</a></li>
                </ul>
            </div>
        </div>
        <a href="#" class="modal-close" data-dismiss="modal"><span class="modal-close-icon"></span></a>
    </div>
</div>

<div class='modal fade' id='confirmModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'>
    <div class='modal-dialog modal-sm mt-100' role='document'>
        <div class='modal-content text-center' style="border-radius: 0px; padding: 30px;">
            <h4 class="mb-30">Are Details Correct?</h4>
            <div class="row">
                <ul class="list list-inline">
                    <li><a href="javascript:void(0)" class="btn btn-success">Yes ?</a></li>
                    <li>or</li>
                    <li><a href="#" class="btn btn-danger" data-dismiss="modal">Edit</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class='modal fade' id='DeleteModalConfirm' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'>
    <div class='modal-dialog modal-sm mt-100' role='document'>
        <div class='modal-content text-center' style="border-radius: 0px; padding: 30px;">
            <h4 class="mb-30">Are You Sure You Want To Delete This Card?</h4>
            <div class="row">
                <ul class="list list-inline">
                    <li><a href="javascript:void(0)" class="btn btn-danger">CONFIRM</a></li>
                    <li>or</li>
                    <li><a href="#" class="btn btn-success" data-dismiss="modal">CANCEL</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class='modal fade' id='contactModal' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'>
    <div class='modal-dialog quick-view-dialog mt-100' role='document'>
        <div class='modal-content text-center' style="border-radius: 0px; padding: 30px;">
            <div class="row">
                <form action="" method="post" name="contact_form" class="form-horizontal" id="contact-form">
                    <div class="form-group m-b-none col-md-12">
                        <div class="col-md-12">
                            <h4 class="text-left"><i>Please fill in the information needed to assist you on your Member Number.</i></h4>
                        </div>
                    </div>
                    <div class="form-group m-b-none col-md-12">
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                 <input type="text" name="ContactForm[name]" class="form-control" placeholder="Your Name*" value="" style="text-transform: uppercase">
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-b-none col-md-12">
                        <div class="col-md-8">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-envelope-o"></i></div>
                                <input type="text" name="ContactForm[email]" class="form-control" placeholder="Email*" value="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-b-none col-md-12">
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                <input type="text" name="ContactForm[phone_number]" class="form-control" placeholder="Phone number" value="">
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-b-none col-md-12">
                        <div class="col-md-8">
                            <div class="input-group contact-subject" style="width: 100%; text-align: left;">
                                <label>
                                    Select Organization:
                                    <span class="tooltip-element" tooltip="Select the organisation that you are creating a card for." style="display:inline-block">?</span>
                                </label>
                                <select class="form-control subject" name="ContactForm[subject]">
                                    <option value="">-- Select Organization --</option>
                                    <?php
                                        $clubs = SportsPassClub::model()->findAll(['order' => 'club_name ASC']);
                                        foreach ($clubs as $k => $v):
                                            echo "<option value='".$v['club_name']."' data-club='".$v['id']."' data-club-banner='".$v['banner_image']."' data-club-name='".$v['club_name']."' data-account='".Yii::app()->user->id."' data-form='".$v['form']."' >".$v['club_name']."</option>";
                                        endforeach;
                                    ?>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-b-none col-md-12">
                        <div class="col-md-8">
                            <div class="input-group contact-message">
                                <textarea style="resize: none; height: auto;" name="ContactForm[body]" class="form-control" rows="5" cols="100" placeholder="Enter Your message*"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-b-none col-md-12 text-left">
                        <div class="col-md-8">
                            <input type="hidden" name="ContactForm[type]" class="account-card-info" value="info" />
                            <input type="submit" class="btn btn-primary btn-submit-contact" value="Send Your Message">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <a href="#" class="modal-close" data-dismiss="modal"><span class="modal-close-icon"></span></a>
    </div>
</div>
