<div id="content">
 <div class="row m-t-xl">
       <div class="col-md-12">
           <div class="page-title center">
               <h1 class="m-t-none">FAQs</h1>
               <span class="strip-divider black"></span>
               <div>The following Frequently Asked Questions should be read in conjunction with&nbsp;the Terms and Conditions available at the SportsCash&nbsp;website.
</div>
           </div>
       </div>
   </div>


<div class="container">
   <div class="col-md-12">
       <div class="ibox_outer">
           <div class="ibox_content pl0 pr0">
                                                       <div class="panel-group gsn_panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                       <h4> 1. THE SPORTSCASH PROGRAM </h4>
                       <div class="panel panel-default panel-gsn">
                                                       <div class="panel-heading" role="tab" id="">
                               <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapseOne"> What is the SportsCash program? </a> </h4>
                           </div>
                           <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="">
                               <div class="panel-body"> <p>SportsCash is one of the major benefits of being a member of SportsPass. It is real cash rewards you earn that can offset the costs of playing sport by a lot not a little. At the same time, SportsCash supports your club directly by providing an ongoing stream of funds from you &ndash; so club members become silent sponsors .</p>

<p>You earn SportsCash from your shopping simply, automatically, at no extra cost to you. Just do the shopping you are going to do at our participating retailers. Every time you buy, you earn SportsCash worth up to 30% of your spend. From your everyday shopping like groceries and petrol. And from your online shopping.</p>

<p>And you&rsquo;ll get Hot Deals sent to you regularly where you can earn more SportsCash.&nbsp;</p>

<p>Everything happens behind the scenes seamlessly and automatically. You shop, your SportsCash accumulates and your donations go to your club.</p>

<p>SportsCash does not cost you any more &ndash; it&rsquo;s the commissions our retailers are happy to provide for your business.&nbsp;</p>

<p>&nbsp;</p>
</div>
                           </div>
                                                       <div class="panel-heading" role="tab" id="">
                               <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapseOne"> What is SportsCash? </a> </h4>
                           </div>
                           <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="">
                               <div class="panel-body"> <p>SportsCash is exactly as it says &ndash; extra cash that you earn by shopping at our participating outlets. &nbsp;At no extra cost to you &ndash; they are the commissions our retailers are happy to provide for your business. To see how much SportsCash you could earn, check out the calculator at the website. You&#39;ll be surprised.</p>

<p>Your SportsCash rewards you and your club at the same time. When you join, you nominate what proportion of your SportsCash you want to keep for your use &ndash; and what you wish to contribute to your club.</p>
</div>
                           </div>
                                                                               </div>
                   </div>
                                       <div class="panel-group gsn_panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                       <h4> 2. HOW SPORTSCASH WORKS </h4>
                       <div class="panel panel-default panel-gsn">
                                                       <div class="panel-heading" role="tab" id="">
                               <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapseOne"> How do I gain the benefits of SportsCash? </a> </h4>
                           </div>
                           <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="">
                               <div class="panel-body"> <p>IIt&rsquo;s simple. Shop &ndash; and watch your SportsCash grow.</p>

<p><strong>1. To shop instore</strong></p>

<p>Order eVouchers online from our website. Go to the Shop eVouchers section. Your eVoucher will be sent to you ready for you to redeem instore</p>

<p><strong>2. To shop online</strong></p>

<p>Go to the Online Shopping Centre at our website to select a retailer. Or choose your product from over 3 million via Search &amp; Compare or Factory Direct.</p>

<p><strong>3. For the latest Hot Deals </strong></p>

<p>Go to our website. Or wait until you receive an alert email from us with a latest Hot Deals.</p>

<p><strong>4. To see or redeem your rewards balances </strong></p>

<p>Go to My Profile at our website anytime, anywhere</p>
</div>
                           </div>
                                                       <div class="panel-heading" role="tab" id="">
                               <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapseOne"> How do I keep track of my SportsCash? </a> </h4>
                           </div>
                           <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="">
                               <div class="panel-body"> <p>Your SportsCash balance will appear on the SportsCash home page when you log in.</p>

<p>For more details, go to the My Profile section and follow the instructions. You can see what transactions you&rsquo;ve made, how much you have earned, the status of your SportsCash account (including pending rewards where we are waiting for the funds to arrive from our retailers)</p>
</div>
                           </div>
                                                                               </div>
                   </div>
                                       <div class="panel-group gsn_panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                       <h4> 3. SPORTSCASH </h4>
                       <div class="panel panel-default panel-gsn">
                                                       <div class="panel-heading" role="tab" id="">
                               <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapseOne"> How do I earn SportsCash? </a> </h4>
                           </div>
                           <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="">
                               <div class="panel-body"> <p>You earn SportsCash by buying from our participating retailers in 3 ways</p>

<p>1. By buying from the Online Shopping Centre which features over 300 online retailers</p>

<p>2. By buying from the Factory Direct where there are thousands of products to choose from</p>

<p>3. By buying eVouchers for specific retailers. These eVouchers are emailed to you, and then you can redeem them in store.</p>

<p>The SportsCash you earn is credited to your account depending on when the funds are received from the retailers.</p>
</div>
                           </div>
                                                       <div class="panel-heading" role="tab" id="">
                               <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="collapseOne"> How much SportsCash can I earn? </a> </h4>
                           </div>
                           <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="">
                               <div class="panel-body"> <p>It varies depending on the retailer &ndash; up to 30% with some retailers.</p>
</div>
                           </div>
                                                       <div class="panel-heading" role="tab" id="">
                               <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse14" aria-expanded="false" aria-controls="collapseOne"> How can I check my balance and my transaction history? </a> </h4>
                           </div>
                           <div id="collapse14" class="panel-collapse collapse" role="tabpanel" aria-labelledby="">
                               <div class="panel-body"> <p>You can check your balance and transaction history at any time at the SportsCash website. Click on the &lsquo;My Profile&rsquo; button and follow the prompts to your very own account. You will need to enter your login details as this is a secure site.</p>
</div>
                           </div>
                                                                               </div>
                   </div>
                                       <div class="panel-group gsn_panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                       <h4> 4. SPORTSCASH eVOUCHERS  </h4>
                       <div class="panel panel-default panel-gsn">
                                                       <div class="panel-heading" role="tab" id="">
                               <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse16" aria-expanded="false" aria-controls="collapseOne"> What is an eVoucher? </a> </h4>
                           </div>
                           <div id="collapse16" class="panel-collapse collapse" role="tabpanel" aria-labelledby="">
                               <div class="panel-body"> <p>An eVoucher is similar to a gift card. You buy them at our website and the eVoucher is then sent to you by email. Simply print off the eVoucher store it on your phone. Then present to the retailer.&nbsp;</p>
</div>
                           </div>
                                                       <div class="panel-heading" role="tab" id="">
                               <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse18" aria-expanded="false" aria-controls="collapseOne"> How much SportsCash can you earn with eVouchers? </a> </h4>
                           </div>
                           <div id="collapse18" class="panel-collapse collapse" role="tabpanel" aria-labelledby="">
                               <div class="panel-body"> <p>You earn SportsCash each time you purchase an eVoucher. The dollars earned depend on the retailer. Check out the range of retailers and the SportsCash amount at our website.</p>
</div>
                           </div>
                                                       <div class="panel-heading" role="tab" id="">
                               <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse20" aria-expanded="false" aria-controls="collapseOne"> How do you buy an eVoucher? </a> </h4>
                           </div>
                           <div id="collapse20" class="panel-collapse collapse" role="tabpanel" aria-labelledby="">
                               <div class="panel-body"> <p>Go to the eVouchers section&nbsp;at our website. Select the eVoucher you want to purchase. Depending on which eVoucher you choose, you will be directed to either</p>

<p>- a direct ordering page or</p>

<p>- to the retailers online store&nbsp;where you will need to follow the prompts</p>

<p>You can then choose the amount of the eVoucher and the number of eVouchers you want to order.</p>
</div>
                           </div>
                                                       <div class="panel-heading" role="tab" id="">
                               <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse22" aria-expanded="false" aria-controls="collapseOne"> When will you receive your eVoucher? </a> </h4>
                           </div>
                           <div id="collapse22" class="panel-collapse collapse" role="tabpanel" aria-labelledby="">
                               <div class="panel-body"> <p>Normally within one hour. But under some circumstances it may be delayed until the next business day.</p>
</div>
                           </div>
                                                       <div class="panel-heading" role="tab" id="">
                               <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse24" aria-expanded="false" aria-controls="collapseOne"> Is there an expiry date on my eVoucher? </a> </h4>
                           </div>
                           <div id="collapse24" class="panel-collapse collapse" role="tabpanel" aria-labelledby="">
                               <div class="panel-body"> <p>Yes depending on the eVoucher. The expiry date will be prominently displayed on the eVoucher itself.</p>
</div>
                           </div>
                                                       <div class="panel-heading" role="tab" id="">
                               <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse26" aria-expanded="false" aria-controls="collapseOne"> Is there a cost to order an eVoucher? </a> </h4>
                           </div>
                           <div id="collapse26" class="panel-collapse collapse" role="tabpanel" aria-labelledby="">
                               <div class="panel-body"> <p>It varies&nbsp;by retailer and on the way you pay. In most&nbsp;cases, there is a no cost option</p>
</div>
                           </div>
                                                                               </div>
                   </div>
                                       <div class="panel-group gsn_panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                       <h4> 5. SPORTSCASH ONLINE SHOPPING CENTRE  </h4>
                       <div class="panel panel-default panel-gsn">
                                                       <div class="panel-heading" role="tab" id="">
                               <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse28" aria-expanded="false" aria-controls="collapseOne"> What is the SportsCash Online Shopping Centre? </a> </h4>
                           </div>
                           <div id="collapse28" class="panel-collapse collapse" role="tabpanel" aria-labelledby="">
                               <div class="panel-body"> <p>The Online Shopping Centre offers you a wide range of online shopping stores to choose from. There are over 300 brands with 3+ million products.</p>

<p>By shopping via our Online Shopping Centre, you earn SportsCash with each purchase. So if your favourite online shop is part of our network, it makes sense to shop via us because you earn SportsCash you wouldn&rsquo;t normally receive.&nbsp;</p>
</div>
                           </div>
                                                       <div class="panel-heading" role="tab" id="">
                               <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse30" aria-expanded="false" aria-controls="collapseOne"> How does the SportsCash Online Shopping Centre work? </a> </h4>
                           </div>
                           <div id="collapse30" class="panel-collapse collapse" role="tabpanel" aria-labelledby="">
                               <div class="panel-body"> <p>Simply browse through our retailers and find where you would like to shop. Click on the logo and you will be then linked directly to the store site. Purchase the item(s) you want.</p>

<p>You can also use our Search &amp; Compare tool to search by specific product. We will then identify the retailers who have that product and display them in order to fast track and streamline your shopping experience.</p>

<p>Each purchase will earn you SportsCash which will be credited to your account as soon as the funds are received from the store.</p>
</div>
                           </div>
                                                       <div class="panel-heading" role="tab" id="">
                               <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse32" aria-expanded="false" aria-controls="collapseOne"> Can I shop by product? </a> </h4>
                           </div>
                           <div id="collapse32" class="panel-collapse collapse" role="tabpanel" aria-labelledby="">
                               <div class="panel-body"> <p>Yes. By using Search &amp; Compare -&nbsp;a powerful tool designed to simplify your online shopping with us. It will change the way you shop online.</p>

<p>Instead of choosing a retailer, you choose a type of product. Say jeans in womens fashion. Search &amp; Compare then sorts through millions of products to display only those that meet your criteria. You will see not only the products but also the key details such as the name of the retailer, the price, the rewards you can earn.</p>

<p>You can then browse or refine and short list. And either add to your Wishlist or select the product you want and click to buy.&nbsp;</p>
</div>
                           </div>
                                                       <div class="panel-heading" role="tab" id="">
                               <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse34" aria-expanded="false" aria-controls="collapseOne"> When will I get my SportsCash? </a> </h4>
                           </div>
                           <div id="collapse34" class="panel-collapse collapse" role="tabpanel" aria-labelledby="">
                               <div class="panel-body"> <p>SportsCash will be credited to your account as soon as we receive it from the retailer. Each retailer has different timeframes on when they pay this cash back to SportsCash. It could take up to 90 days be credited to your account depending on the returns policy of each retailer</p>
</div>
                           </div>
                                                       <div class="panel-heading" role="tab" id="">
                               <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse36" aria-expanded="false" aria-controls="collapseOne"> What if I haven’t received my SportsCash? </a> </h4>
                           </div>
                           <div id="collapse36" class="panel-collapse collapse" role="tabpanel" aria-labelledby="">
                               <div class="panel-body"> <p>Go to Contact Us. Select Shop &ndash; Missing Transaction. As part of your message, you need to provide us with the store name, the transaction date and amount plus the order number which you will find on your receipt from the retailer.&nbsp; We will then contact the retailer and come back to you.</p>
</div>
                           </div>
                                                                               </div>
                   </div>
                                       <div class="panel-group gsn_panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                       <h4> 6. HOT DEALS </h4>
                       <div class="panel panel-default panel-gsn">
                                                       <div class="panel-heading" role="tab" id="">
                               <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse38" aria-expanded="false" aria-controls="collapseOne"> What are Hot Deals? </a> </h4>
                           </div>
                           <div id="collapse38" class="panel-collapse collapse" role="tabpanel" aria-labelledby="">
                               <div class="panel-body"> <p>Hot Deals are offers or special sales that are above and beyond the standard offered by our online retailers. They are usually available only for a short time so are continually changing. Hot Deals may be subject to minimum spend, specific product purchases or time restrictions.</p>

<p>You can find the latest Hot Deals at our website. We will also send you regular emails to keep you up to date.</p>
</div>
                           </div>
                                                       <div class="panel-heading" role="tab" id="">
                               <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse40" aria-expanded="false" aria-controls="collapseOne"> Do I get SportsCash with Hot Deals? </a> </h4>
                           </div>
                           <div id="collapse40" class="panel-collapse collapse" role="tabpanel" aria-labelledby="">
                               <div class="panel-body"> <p>Yes. You get both the deal and the rewards</p>
</div>
                           </div>
                                                                               </div>
                   </div>
                                       <div class="panel-group gsn_panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                       <h4> 7. SEARCH & COMPARE </h4>
                       <div class="panel panel-default panel-gsn">
                                                       <div class="panel-heading" role="tab" id="">
                               <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse42" aria-expanded="false" aria-controls="collapseOne"> What is Search & Compare? </a> </h4>
                           </div>
                           <div id="collapse42" class="panel-collapse collapse" role="tabpanel" aria-labelledby="">
                               <div class="panel-body"> <p>Search &amp; Compare is a powerful tool designed to simplify your online shopping with us. After all, we have over 3 million products and 300+ online retailers.</p>

<p>It will change the way you shop online. You can search for the things you are interested in and we&rsquo;ll search all our retailers &ndash; and show you what&rsquo;s available across our network instantly.</p>

<p>So instead of choosing a retailer, you choose a type of product. Say jeans in womens fashion. Search &amp; Compare then sorts through millions of products to display only those that meet your criteria. You will see not only the products but also the key details such as the name of the retailer, the price, the rewards you can earn. Instantly.</p>

<p>You can then browse or refine and short list. And either add to your Wishlist or select the product you want and click to buy.</p>

<p>&nbsp;</p>
</div>
                           </div>
                                                       <div class="panel-heading" role="tab" id="">
                               <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse44" aria-expanded="false" aria-controls="collapseOne"> How does it work? </a> </h4>
                           </div>
                           <div id="collapse44" class="panel-collapse collapse" role="tabpanel" aria-labelledby="">
                               <div class="panel-body"> <p>It&rsquo;s a 4 step process</p>

<p><strong>1. Search &ndash;</strong>&nbsp;choose your product by category, by type, by price, by retailer</p>

<p><strong>2. Short List</strong>- the products you really like</p>

<p><strong>3. Compare - </strong>and refin<strong>e&nbsp;</strong>your shortlist&nbsp;</p>

<p><strong>4. Shop - </strong>buy the product you want with a click or add to your wishlist</p>
</div>
                           </div>
                                                                               </div>
                   </div>
                                       <div class="panel-group gsn_panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                       <h4> 8. SPORTSCASH FACTORY DIRECT </h4>
                       <div class="panel panel-default panel-gsn">
                                                       <div class="panel-heading" role="tab" id="">
                               <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse46" aria-expanded="false" aria-controls="collapseOne"> What is Factory Direct? </a> </h4>
                           </div>
                           <div id="collapse46" class="panel-collapse collapse" role="tabpanel" aria-labelledby="">
                               <div class="panel-body"> <p>Factory Direct presents you with thousands of products and ongoing specials in a wide range of categories for you to choose from. Every time you buy, you earn SportsCash</p>
</div>
                           </div>
                                                       <div class="panel-heading" role="tab" id="">
                               <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse48" aria-expanded="false" aria-controls="collapseOne"> How does Factory Direct work? </a> </h4>
                           </div>
                           <div id="collapse48" class="panel-collapse collapse" role="tabpanel" aria-labelledby="">
                               <div class="panel-body"> <p>Simply browse through our products and find what you want to buy. Add the products to the Shopping Bag. And check out when you&rsquo;ve finished shopping</p>
</div>
                           </div>
                                                       <div class="panel-heading" role="tab" id="">
                               <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse50" aria-expanded="false" aria-controls="collapseOne"> When will I get my SportsCash? </a> </h4>
                           </div>
                           <div id="collapse50" class="panel-collapse collapse" role="tabpanel" aria-labelledby="">
                               <div class="panel-body"> <p>SportsCash will be credited to your account as soon as we receive the funds from your purchase. It could take 7 days for SportsCash to be credited to your account.</p>
</div>
                           </div>
                                                       <div class="panel-heading" role="tab" id="">
                               <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse52" aria-expanded="false" aria-controls="collapseOne"> What if I haven’t received my SportsCash? </a> </h4>
                           </div>
                           <div id="collapse52" class="panel-collapse collapse" role="tabpanel" aria-labelledby="">
                               <div class="panel-body"> <p>Go to Contact Us. Select Shop &ndash; Factory Direct Enquiry. As part of your message, you need to provide us with the transaction date and amount plus the order number which you will find on your receipt from Factory Direct.&nbsp; We will review and come back to you</p>
</div>
                           </div>
                                                       <div class="panel-heading" role="tab" id="">
                               <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse54" aria-expanded="false" aria-controls="collapseOne"> What if I want to return or cancel an order or there is a fault with the item I purchased? </a> </h4>
                           </div>
                           <div id="collapse54" class="panel-collapse collapse" role="tabpanel" aria-labelledby="">
                               <div class="panel-body"> <p>All purchases through Factory Direct are subject to a return policy. Details will be provided when you purchase a product. Returns and cancellations are subject to loss of cash rewards associated with that purchase.&nbsp;</p>
</div>
                           </div>
                                                                               </div>
                   </div>
                                       <div class="panel-group gsn_panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                       <h4> 9. PRIVACY  </h4>
                       <div class="panel panel-default panel-gsn">
                                                       <div class="panel-heading" role="tab" id="">
                               <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse56" aria-expanded="false" aria-controls="collapseOne"> What personal information do you collect? </a> </h4>
                           </div>
                           <div id="collapse56" class="panel-collapse collapse" role="tabpanel" aria-labelledby="">
                               <div class="panel-body"> <p>SportsPass is committed to protecting the confidentiality of your personal information. Refer to the Privacy Policy at the SportsPass website. We collect personal information in order to provide services and products to you, to maintain and improve customer service and to advise you of other SportsCash offers, products or services which may be of interest to you.&nbsp;Whilst you may opt not to provide us with your personal information, you should be aware that without this personal information, we may not be able to provide you with the services and/or products you are expecting.&nbsp;</p>
</div>
                           </div>
                                                                               </div>
                   </div>
                                       <div class="panel-group gsn_panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                       <h4> 10. FEES AND CHARGES </h4>
                       <div class="panel panel-default panel-gsn">
                                                       <div class="panel-heading" role="tab" id="">
                               <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse58" aria-expanded="false" aria-controls="collapseOne"> What are the costs for the SportsCash program? </a> </h4>
                           </div>
                           <div id="collapse58" class="panel-collapse collapse" role="tabpanel" aria-labelledby="">
                               <div class="panel-body"> <p>a. there is a monthly administration fee of $1.25 that is charged only if you have a balance in your SportsCash account. If you have a zero balance or have not yet eanred any SportsCash, there is no charge</p>

<p>b. there may be a fee for each eVoucher you purchase which varies by retailer</p>

<p>c. there may be shipping fees for purchases made at Factory Direct</p>
</div>
                           </div>
                                                                               </div>
                   </div>
                                       <div class="panel-group gsn_panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                       <h4> 11. CONTACT US </h4>
                       <div class="panel panel-default panel-gsn">
                                                       <div class="panel-heading" role="tab" id="">
                               <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse60" aria-expanded="false" aria-controls="collapseOne"> Who do I contact if I have any queries? </a> </h4>
                           </div>
                           <div id="collapse60" class="panel-collapse collapse" role="tabpanel" aria-labelledby="">
                               <div class="panel-body"> <p>For general enquiries on the SportsCash program, head to the SportsCash &lsquo;Contact Us&rsquo; tab and complete the online form.&nbsp;</p>
</div>
                           </div>
                                                       <div class="panel-heading" role="tab" id="">
                               <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapse62" aria-expanded="false" aria-controls="collapseOne"> Who do I contact if I haven’t received my SportsCash? </a> </h4>
                           </div>
                           <div id="collapse62" class="panel-collapse collapse" role="tabpanel" aria-labelledby="">
                               <div class="panel-body"> <p>Go to SportsCash Contact Us. Select Shop &ndash; Missing Transaction. As part of your message, you need to provide us with the store name, the transaction date and amount plus the order number which you will find on your receipt from the retailer.&nbsp; We will then contact the retailer and come back to you.</p>
</div>
                           </div>
                                                                               </div>
                   </div>
                                               </div>
       </div>
   </div>
</div>

<script type="text/javascript">
   $(function(){
       $(".question").click(function(){
           $(this).next(".answer").slideToggle(500);
       });
   });
</script></div><!-- content -->
