<div class="container forgot-password">
    <div class="row">

      <h2 class="section-header">
          FORGOT PASSWORD <i style = "color:#5bcbf3;" class="fa fa-question-circle-o" aria-hidden="true"></i>

      </h2>
          <div class="section-row">
            <label class="control-label col-md-12">Enter your email address and we'll send you password reset instructions.</label>
            <div class="form-group col-md-3">
                <input class="mt-30 mb-30 form-control" type="email" name="email" id="email" value=""  >
                <div class="clearfix"></div>
                <a class="btn-forgot btn btn-primary btn-sm" href="javascript:;" onclick="resetPassword();" style="margin: 5px 0px;">Send Email</a> <br>
                <a class="btn-forgot btn-cancel btn btn-primary btn-sm" href="javascript:;" onclick="document.location.href='/login'" style="margin: 5px 0px;">Back to Login</a>
            </div>
            <div class="clearfix"></div>
            <div class="message"><p></p></div>
        </div>
    </div>
</div>
