<div class="mt-50 mb-60">
    <div class="container">
        <form  name="vm.form" ng-submit="login.login()" role="form">
            <div class="row">
                <div class="col-md-5 col-md-offset-1 border-right b-n-xs">
                    <div class="form-group">
                        <label class="control-label"> SportsPass Account Email </label>
                        <input class="form-control" type="text" ng-model="login.user_name" name="user_name" id="username" placeholder="">
                    </div>
                    <div class="form-group">
                        <label class="control-label"> Password </label>
                        <input class="form-control" type="password" ng-model="login.password" name="passowrd" id="password" placeholder="">
                    </div>
                    <div class="form-group">
                        <label class="checkbox m-l-md font-md right-align">
                            <!-- <input class="form-control" type="checkbox" id="remember-me" name="remember" value="1" > Remember me | -->
                            <a href="/forgetpassword">Forgot your password?</a>
                        </label>

                    </div>
                    <div class="form-group right-align">
                      <div class="col-6">
                          <button type="submit" class="btn btn-primary px-4">Login</button>
                      </div>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="form-group text-center" style="padding-top:10%;">
                        <h5>Don’t have a SportsPass account? </h5>

                        <a ui-sref-active="active" ui-sref="app.register" class="btn btn-primary btn-lg"> Join Now </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
