<div id="content">
	<div class="container">
<div class="main-content privacy-policy">
    <h1 class="purple">Privacy Policy</h1>
    <div class="privacy-content">
        <p><strong>SportsPass (“we, us, our”) are the operators of the website www.sportspass.com.au.</strong></p>
				<h3>1. Our Policy</h3>
				<p>This Privacy Policy applies to all personal information collected by Sportspass via the website located at <a href="http://www.sportspass.com.au/">www.sportspass.com.au</a>.</p>
				<p>Your privacy is very important to us. For that reason, please read the following details carefully and get in contact with us if you have any questions. You can contact us on; 1300 52 62 60 or <a href="mailto:info@sportspass.com.au">info@sportspass.com.au</a>.</p>
				<p>We are bound by the Australian Privacy Principles under the Privacy Act 1988 (Cth) (“APPs”) and we are committed to protecting the privacy and security of your personal information. This includes suitable measures to protect electronic information and materials stored and generated in hard copy. We are also subject to privacy and confidentiality obligations under other laws that govern our activities.</p>
				<h3>2. Personal Information</h3>
				<p>We may collect personal information from you in the course of your website if you input any personal information into the website. In addition, we also collect cookies from your computer, which enables us to tell when you use the website and also to help customise your website experience.</p>
				<p>The purpose for which we collect personal information is to provide you with the best service experience possible on the website. Some provision of personal information is optional. However, if you do not provide us with certain types of personal information, you may be unable to enjoy the full functionality of the website.</p>
				<p>SportsPass will use your personal information to identify you so that we can provide services to you; administer our provisions of services; for collecting payments and credit control purposes; to improve the services we provide to you and to inform you about any improvements or changes in services; to market various offers under the SportsPass program that we or third parties may offer; and to comply with our legal obligations.</p>
				<p>SportsPass will not disclose personal information we collect about you to any third parties without your prior consent. Similarly, we will not sell any information we collect about SportsPass members however, we may disclose personal information about you to service providers who provide services to us, such as providers of sales, credit collection, help desk and support services. SportsPass ensure that these parties are obliged to protect your personal information from unauthorized access to third parties where you have given consent to the disclosure to government, law enforcement and regulatory bodies where this is necessary for us to comply with our legal obligations and to parties to whom we sell all or part of our assets or business.</p>
				<p>SportsPass may collect and provide to third parties non-personal information about the way you browse our website. This information cannot be used to identify you or any other individual customer or visitor to our website. This information is used to collect and analyse statistics about browsing behaviour for marketing and development purposes.</p>
				<p>SportsPass will take all reasonable steps to ensure that all personal and non-personal information we collect, use or disclose is accurate, complete and up-to-date.</p>
				<p>SportsPass will take all reasonable steps to protect the security of the personal information we hold. This includes appropriate measures to protect electronic materials and materials stored and generated in hard copy.</p>
				<p>SportsPass would like to make it known to all our members that the internet is not a secure environment. If you use the internet to send us information, including your email address, it is sent at your own risk</p>
				<h3>3. Disclosure</h3>
				<p>We customarily disclose personal information only to our service providers who assist us in operating the website. We will only disclose personal information to an unrelated third party with your consent.</p>
				<h3>4. Access and Correction</h3>
				<p>National Privacy Principle 6 of the Australian Privacy Act 1998 (Cth) allows you to get access to, and correct, the personal information we hold about you in certain circumstances. If you would like to obtain such access, please contact us on the details set out above.</p>
				<h3>5. Security </h3>
				<p>We have processes in place to ensure the security of your personal information, including encryption of all data when it is transferred to our service providers and limitations on access to personal information within our organisation.</p>
				<h3>6. Transfer Out of Australia</h3>
				<p>The SportsPass website is not hosted in Australia. For that reason, we transfer all data on the website (including all personal information) to our hosting service provider in the United States of America. You hereby consent to this transfer.</p>
				<h3>7. Links to Third Party Websites</h3>
				<p>The SportsPass websites have links to external third party websites that may benefit the user. External websites should contain their own privacy statements and we recommend you review them when using their websites.</p>
				<p>Please note, however, that third party websites are not covered by this policy, and these sites are not subject to SportsPass’ privacy standards and procedures.</p>
						      </div>

    </div>
</div>
</div></div><!-- content -->
