<div id="content">
	<div class="container">
<div class="main-content privacy-policy">
    <h1 class="purple">Privacy Policy</h1>
    <div class="privacy-content">
        <p><strong>Our Commitment</strong></p>

<p>SportsCash is a program operated by Cash Rewards Global Pty Ltd. SportsCash considers the protection and maintenance of your personal information to be of the utmost importance. SportsCash take very seriously the ongoing trust that you place in us to protect your personal information. When handling your personal information SportsCash are bound and committed to complying with the Australian Privacy Principles in the&nbsp;<em>Privacy Act 1988.&nbsp;</em>This Privacy Policy outlines how SportsCash deal with your personal information as well as our legal obligations and rights as to that information.</p>

<p><strong>Personal Information</strong></p>

<p>Personal information is information that may identify you or by which your identity may be reasonably determined. Such personal information may include your name, address, other contact details, your date of birth, and mobile number.</p>

<p><strong>Why do SportsCash need your Personal Information?&nbsp;</strong></p>

<p>SportsCash will only ask for personal information relevant to our business relationship with you. SportsCash will tell you the main reasons for asking for your personal information when SportsCash seek it from you. If you do not provide some personal information, SportsCash may not be able to provide you with the products or services you want.</p>

<p>The main reasons why SportsCash will seek personal information from you are:</p>

<ul>
	<li>to check your eligibility for or to provide you with financial products or services;</li>
	<li>to provide you with information relevant to the services and offers you want</li>
	<li>to assist you with your inquiries or concerns;</li>
	<li>to verify your identity and undertake customer due diligence;</li>
	<li>for any other purpose required or authorised by law.</li>
</ul>

<p>SportsCash may also ask for your personal information because SportsCash are obliged to collect it for legal purposes under the&nbsp;<em>Financial Transaction Reports Act 1988</em>&nbsp;and the new&nbsp;<em>Anti-Money Laundering and Counter-Terrorism Financing Act 2006</em>. These Acts require us to ask you for information to check your identity (for instance, by referring to your passport, birth certificate or driver&rsquo;s licence). SportsCash will not use any information collected under these Acts for any other purpose.</p>

<p><strong>How do SportsCash collect information?</strong></p>

<p>SportsCash collect most personal information directly from you. SportsCash may do this when you apply for a new prepaid card, complete a replacement card application, deal with us over the telephone, send us a letter, visit our website or if SportsCash call you.</p>

<p><strong>How do SportsCash store your personal information?</strong></p>

<p>SportsCash store your personal information in a number of ways including:</p>

<p style="margin-left:35.7pt">&middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; in computer systems or databases;</p>

<ul>
	<li>in hard copy or paper files</li>
</ul>

<p><strong>Do SportsCash ever disclose your information to 3</strong><strong><sup>rd</sup></strong><strong>&nbsp;parties?</strong></p>

<p>SportsCash may disclose your personal information to third parties where they help us with our business, or you request us or consent to do so. Where your personal information is disclosed to third parties, SportsCash will seek to ensure that the information is held, used or disclosed consistently with the Australian Privacy Principles in the&nbsp;<em>Privacy Act 1988.</em>&nbsp;</p>

<p>Types of third parties include:</p>

<ul>
	<li>parties involved in providing, managing or administering your products or services such as third party suppliers, printers, postal services, email and SMS delivery providers, authorised representatives and our legal, tax, audit and accountancy advisers;</li>
	<li>parties maintaining, reviewing and developing our business systems, procedures and infrastructure including testing or upgrading our computer systems;</li>
	<li>alliance partners, for example, where you have a cobranded product such as the Heritage Bank issued prepaid&nbsp; card;</li>
	<li>parties involved in the payments system including financial institutions, merchants and payment organisations.</li>
</ul>

<p>SportsCash may also disclose your personal information to third parties in circumstances where:</p>

<ul>
	<li>SportsCash must fulfil our legal obligations (for example, disclosure to Australian (and international) enforcement bodies such as the Australian Securities and Investments Commission (ASIC), the Australian Taxation Office (ATO), the Australian Transaction Reports and Analysis Centre (AUSTRAC), Centrelink or the Courts);</li>
	<li>it can be reasonably inferred from the circumstances that you consent to your personal information being disclosed to a third party.</li>
</ul>

<p>SportsCash may also send your personal information outside Australia where, for example:</p>

<ul>
	<li>you have requested or consented that SportsCash send your personal information;</li>
	<li>SportsCash outsource a function or service to an overseas contractor with whom SportsCash have a contractual arrangement; and</li>
	<li>it is necessary to investigate or facilitate a transaction on your behalf.</li>
</ul>

<p>SportsCash will not send your personal information outside Australia unless it is authorised by law and SportsCash are satisfied that the recipient of the personal information has adequate data protection arrangements in place.</p>

<p><strong>Marketing and your personal information</strong></p>

<p>SportsCash use personal information to provide services and products that may be of interest to you.&nbsp; SportsCash may contact you by email, text message, phone or by post to advise you of program benefits and promotions.&nbsp; If you receive a marketing message from us, you can opt-out by following the instructions in that message.&nbsp;</p>

<p>In general, SportsCash use personal information for marketing for the following purposes:</p>

<ul>
	<li>to communicate offers relating to services and products that SportsCash think may be of interest to you (unless otherwise requested)</li>
	<li>to advise of ways to best use our service</li>
	<li>to develop processes, products and services to better meet your needs&nbsp;</li>
	<li>for our internal research and data analytics.</li>
</ul>

<p>It is our policy not to sell or pass any personal information to any other organisations (outside our group companies) unless SportsCash are required to do so for fraud prevention and detection.&nbsp;SportsCash will never sell or rent your personal information to anyone else for their marketing purposes without your consent.&nbsp;</p>

<p><strong>What are cookies and why does SportsCash use them?&nbsp;</strong></p>

<p><br />
A cookie is a piece of data stored on a user&#39;s computer hard drive, containing information about that user. A cookie can only be accessed across the Internet by the website that placed it there. Cookies are used by SportsCash to help us improve the content and functioning of our website.</p>

<p>SportsCash also use cookies to help us process a request by you to follow a link from our website to the websites of third parties. The personal information that is disclosed to the third party website operator is limited to the information collected by these cookies. An example of this is to ensure that payment for qualifying transactions can be made,<br />
You may choose to reject a cookie that the SportsCash website attempts to place on your computer, however you may then be limited in your use of some areas of the website. The use of cookies in this way is wide-spread and commonly accepted by the Internet community.&nbsp;</p>

<p><strong>Why does SportsCash record IP Addresses?&nbsp;</strong></p>

<p><br />
When a user joins SportsCash, our computers may record their IP address. In the event that SportsCash detect fraud or abuse of our program or our website and computers, SportsCash may use the IP address of the offender to take action against them. Ultimately this ensures greater protection for you and your personal information.&nbsp;</p>

<p><strong>What is &quot;spam&quot; and does SportsCash send it?&nbsp;</strong></p>

<p><br />
The widely accepted definition of &quot;spam&quot; is unsolicited commercial email, or in other words, email of a commercial nature that the recipient does not want. SportsCash does not send &quot;spam&quot;. This is because when you join SportsCash, you agree to allow us to send to you commercial advertising that is relevant to the product and services SportsCash offer.&nbsp;</p>

<p><strong>How do SportsCash protect personal information?</strong></p>

<p>SportsCash take all reasonable precautions to protect your personal information, whether it is stored in hard copy or electronic form from loss, unauthorised access, modification and unauthorised disclosure. Your personal information is only accessible by you and by those who are authorised to access it. Our employees and third parties who SportsCash deal with are bound by confidentiality obligations.</p>

<p>Hard copy documents are secured on our premises and at archive sites by locks and security systems. Whenever possible, hard copy documents are returned to you and not kept on our premises.</p>

<p>Electronic data is protected by up-to-date computer and network security systems with appropriate firewalls, encryption technology, virus software and access passwords.</p>

<p>SportsCash also seek to ensure that confidential face-to-face discussions between you and us occur in a secure environment.</p>

<p>Depending on any legal obligations to retain your personal information for a certain period of time, if SportsCash do not require your personal information, SportsCash will take reasonable steps to destroy it in a secure manner or by removing identifying features from it.</p>

<p><strong>Is our website secure?&nbsp;</strong></p>

<p>SportsCash appreciate that you may have concerns in relation to the confidentiality and security of your personal information on the internet. Therefore, SportsCash have implemented systems to ensure that your personal information is secure and confidential when you access our website or my account.</p>

<p>When SportsCash collect your personal information over the internet, it proceeds via our secure server utilising encryption technology. This helps to protect against unauthorised access to your personal information over the Internet. Your stored personal information is also protected from unauthorised access through the use of multiple firewalls, secure passwords and sign-in processes.</p>

<p>While our website and my account rely on the highest levels of technology to ensure maximum security, no data transmission over the internet can be guaranteed to be totally secure.</p>

<p>To assist us in protecting your personal information, SportsCash expect you to keep confidential your access passwords at all times, to destroy any documentation SportsCash send to you containing your access passwords and to ensure you log out properly when you leave your computer and take appropriate steps to ensure security of your information</p>

<p><strong>How can you access your personal information?</strong></p>

<p>SportsCash maintain the quality of your personal information by taking reasonable steps to ensure that the information collected, used and disclosed is accurate, complete and up-to-date.</p>

<p>You may access your personal information at any time via email info@sportscash.com.au</p>

<p>In the event that you make a request to access personal information that has been archived, SportsCash may charge you a fee. The fee will be discussed with you prior to us actioning your request. SportsCash are unable to give you access to your personal information if SportsCash are prevented by law or if access would reveal personal information of another person.</p>

<p><strong>Do SportsCash ever change our privacy policy?</strong></p>

<p>From time to time, SportsCash may need to review our Privacy Policy. SportsCash reserve the right to change our Privacy Policy at any time and to notify you by posting an updated version&nbsp;on our website.&nbsp;</p>

<p><strong>Any questions about our policy?</strong></p>

<p>If you have any concerns or questions about our Privacy Policy, or the way in which SportsCash manage your personal information, including if you think SportsCash have breached the Australian Privacy Principles of the&nbsp;<em>Privacy Act 1988</em>, you may contact us by email info@sportscash.com.au</p>

<p>You may also obtain further information about privacy (including general privacy information, answers to frequently asked questions and links to the 10 National Privacy Principles) on the Office of the Privacy Commissioner&rsquo;s website at&nbsp;<a href="http://www.privacy.gov.au/">www.privacy.gov.au</a>. Alternatively, you may write to The Office of the Privacy Commissioner, GPO Box 5218, Sydney, New South Wales, 2001.</p>

<p>&nbsp;</p>
    </div>
</div>
</div></div><!-- content -->
