
<div class="page-title center">
    <div class="container">
        <h1> {{ userData.first_name }}'s Profile </h1>
        <span class="strip-divider gray"></span>
        <p>
            To update your personal information simply click on edit button and enter your new details in the sections
            below and Save
        </p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3 hidden-sm hidden-xs">
            <div id="myNav" class="side-navigation">
                <div class="side-nav-categories">
                    <ul class="profile-categ">
                        <li>
                            <span>
                                <a href="javascript:;" data-id="#top"><i class="fa fa-user"> </i> Personal Information </a>
                            </span>
                        </li>
                        <li>
                            <span>
                                <a href="javascript:;" data-id="#sportspass-cards"><i class="fa fa-credit-card "> </i> My SportsPass Cards</a>
                            </span>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="col-md-9">
            <form name="profile_frm" class="form-horizontal form-personal-info" method="post" action="">
                <div class="ibox personal-content" id="top">
                    <div class="ibox-title ibox-profile-title ">
                        <h5><i class="fa fa-user"> </i> Personal Information </h5>
                        <div class="ibox-tools m-r-md">

                                <a href="javscript:;"
                                   class="enable-personal-profile">
                                    <i class="fa fa-edit purple"> </i>
                                    Edit
                                </a>

                        </div>
                    </div>
                    <div class="ibox-content clearfix">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    First Name
                                </label>
                                <div class="col-md-8">
                                    <input class="form-control personal-profile"
                                           type="text"
                                           value="{{ userData.first_name }}"

                                           readonly
                                    />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    Email
                                </label>
                                <div class="col-md-8">
                                    <input class="form-control"
                                           type="text"
                                           value="{{ userData.email }}"

                                           readonly
                                    />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    Mobile Number
                                </label>
                                <div class="col-md-8">
                                    <input class="form-control"
                                           type="text"
                                           value="{{ userData.mobile }}"

                                    />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    Last Name
                                </label>
                                <div class="col-md-8">
                                    <input class="form-control personal-profile" type="text"
                                           value="{{ userData.last_name }}"  readonly/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    Date of Birth
                                </label>
                                <div class="col-md-8">
                                    <input class="form-control dob personal-profile" type="text"
                                           value="{{ userData.dob }}" readonly/>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 align-right">
                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    &nbsp;
                                </label>
                                <div class="col-md-8">
                                    <a class="btn btn-primary" href="javascript:;"
                                       onclick="document.profile_frm.submit();"> <i class="fa fa-save"> </i> &nbsp; Save
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ibox personal-password-content">
                    <div class="ibox-title ibox-profile-title ibox-profile-title">
                        <h5><i class="fa fa-lock"> </i> Update Password </h5>
                        <div class="ibox-tools m-r-md m-r-md">

                                <a href="javascript:;"
                                   class="enable-personal-password">
                                    <i class="fa fa-edit purple"> </i> Edit </a>

                        </div>
                    </div>
                    <div class="ibox-content clearfix">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    Current Password
                                </label>
                                <div class="col-md-8">
                                    <input class="form-control personal-password"
                                           type="password"
                                           name="oldpassword"
                                           readonly
                                    />
                                </div>
                            </div>

                        </div>

                        <div class="clearfix"></div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    New password
                                </label>
                                <div class="col-md-8">
                                    <input class="form-control personal-password"
                                           type="password"
                                           name="newpassword"
                                           readonly
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    Re enter new password
                                </label>
                                <div class="col-md-8">
                                    <input class="form-control personal-password"
                                           type="password"
                                           name="renewpassword"
                                           readonly
                                    />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 align-right">
                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    &nbsp;
                                </label>
                                <div class="col-md-8">
                                    <a class="btn btn-primary" href="javascript:;"
                                       onclick="document.profile_frm.submit();"> <i class="fa fa-save"> </i> &nbsp; Save
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="ibox personal-address-content m-b-none">
                    <div class="ibox-title ibox-profile-title">
                        <h5><i class="fa fa-home"> </i> Your Address </h5>
                        <div class="ibox-tools m-r-md">

                                <a href="javascript:;" class="enable-personal-address"> <i
                                            class="fa fa-edit purple"> </i> Edit </a>

                        </div>
                    </div>
                    <div class="ibox-content clearfix">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    Street 1
                                </label>
                                <div class="col-md-8">
                                    <input class="form-control personal-address" type="text"
                                           value="{{ userData.address }}"  readonly/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    City
                                </label>
                                <div class="col-md-8">
                                    <input class="form-control personal-address" type="text"
                                           value="{{ userData.suburb }}" readonly/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    Post Code
                                </label>
                                <div class="col-md-8">
                                    <input class="form-control personal-address" type="text"
                                           value="{{ userData.post_code }}" readonly/>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    State
                                </label>
                                <div class="col-md-8">

                                    <select class="form-control personal-address" ng-model="userData.state" >
                                        <option ng-repeat="option in getSate" value="{{option}}">{{option}}</option>
                                    </select>


                                </div>
                            </div>
                            <div class="form-group" style="display: none;">
                                <label class="control-label col-md-4">
                                    Country
                                </label>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" value="AU" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 align-right">
                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    &nbsp;
                                </label>
                                <div class="col-md-8">
                                    <a class="btn btn-primary" href="javascript:;"
                                       onclick="document.profile_frm.submit();"> <i class="fa fa-save"> </i> &nbsp; Save
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </form>

                  <div class="ibox ibox-profile alternate" id="sportspass-cards">
                      <div class="ibox-title ibox-profile-title">
                          <h5>
                              <i class="fa fa-credit-card "> </i> My SportsPass Cards
                          </h5>
                          <div class="ibox-tools m-r-md">
                              <div class="form-group">
                                 <!--  <a href="/transactionhistory"> <i class="fa fa-eye purple"> </i> View Transaction History</a> -->
                              </div>
                          </div>
                      </div>
                      <div class="ibox-content clearfix no-padding-x">
                          <div class="row">
                              <div ng-repeat="cards in userCards">

                              </div>
                              <!-- <form class="form-horizontal" role="form" name="club-donation-form">
                                  <div class="row">
                                      <div class="ibox-content clearfix no-padding-x">
                                          <div class="row card-holders">

                                          </div>
                                      </div>
                                  </div>
                              </form> -->

                          </div>
                      </div>
                  </div>


            </div>

        </div>
    </div>
</div>

<!-- Travel Cash Modal -->
<div class="modal fade" id="travelCash" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span
                            class="sr-only">Close</span></button>
                <h4 class="modal-title">Travel Cash </h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-striped table-condensed table-profile">
                        <tr>
                            <th> Date</th>
                            <th> Description</th>
                            <th> Spending</th>
                            <th class="text-right"> Travel Cash</th>
                        </tr>
                        <?php if (!empty($travel_cash_earned['travel_cashes'])) : ?>
                            <?php foreach ($travel_cash_earned['travel_cashes'] as $travel_cash) : ?>
                                <tr>
                                    <td> <?php echo $travel_cash['date'] ?> </td>
                                    <td> <?php echo $travel_cash['description'] ?> </td>
                                    <td> <?php echo '$' . $travel_cash['spending'] ?> </td>
                                    <td class="text-right"> <?php echo '$' . $travel_cash['travel_cash'] ?> </td>
                                </tr>
                            <?php endforeach ?>
                            <tfoot>
                            <tr>
                                <td colspan="3" class="text-right"><b>Total</b></td>
                                <td class="text-right">
                                    <b>$<?php echo $travel_cash_earned['total'] ?></b>
                                </td>
                            </tr>
                            </tfoot>
                        <?php else : ?>
                            <tr>
                                <td colspan="4">You don't have any Travel Cash history.</td>
                            </tr>
                        <?php endif ?>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade mt-100" id="cfrm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Confirmation</h4>
            </div>
            <div class="modal-body mt-30 mb-40">
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-body">

                <div class="print-card">
                    <img src="" class="imagepreview" />
                </div>
                <br/>
                <button class="btn btn-primary print-club-card">Print</button>
                <button class="btn btn-primary email-club-card" data-name="<?= $account->firstname ?>" data-email="<?= $account->email ?>">Email</button>
            </div>
        </div>
        <a href="#" class="modal-close" data-dismiss="modal">
            <span class="modal-close-icon"></span>
        </a>
    </div>
</div>

<div id="card-modal" class="modal fade-scale" role="dialog">

    <div class="modal-dialog">

        <div class="card-flip-container">
            <div class="card-flipper">
                <div class="card-front">
                    <img src="<?= $club['banner_image'] ?>"
                         alt=""
                         class="account-<?= $value['id'] ?>"
                         style="width: 100%"/>
                </div>
                <div class="card-back">

                    <!-- Modal content-->
                    <div class="modal-content" style="text-align: center">
                        <!--            --><?php
                        //            $cardData = CJSON::decode(SportsPassClubMembers::getMemberCardData($value['sp_member_id']));
                        //
                        //            ?>
                        <div class="modal-body">

                            <!--                    --><?php
                            //                    for ($x = 0; $x < count($cardData); $x++) {
                            //
                            //                        echo '<p class = "col-md-6">'.$cardData[$x]['name'].': </p><p class = "col-md-6">'.$cardData[$x]['value'].'</p>';
                            //
                            //                    }
                            //                    ?>
                            <!--                    <div class = "card-modal-buttons">-->
                            <!--                        <button class="btn btn-primary print-club-card">Download</button>-->
                            <!--                        <button class="btn btn-primary print-club-card">Print</button>-->
                            <!--                        <button class="btn btn-primary print-club-card">Email</button>-->
                            <!--                        <button class="btn btn-primary print-club-card">Add to Wallet</button>-->
                            <!--                    </div>-->

                        </div>
                    </div>


                </div>
            </div>
        </div>

        <a href="#" class="modal-close" data-dismiss="modal"><span class="modal-close-icon"></span></a>
    </div>


</div>
