<div class="container main-content">
    <div class="reset-password">
        <h2 class="section-header" style = "margin-bottom: 30px;">
            Reset your password
        </h2>
        <div class="section-row">
            <div class="form-group">
                <label style = "text-align: left;font-size: 15px;font-weight: normal;margin-top: 10px;" class="control-label col-md-2">Your new password &nbsp;&nbsp;&nbsp;&nbsp;</label>
                <div style = "padding-left: 0;" class="col-md-4">
                    <input style = "height: 40px;margin-bottom: 20px;" class="form-control" type="password" name="password" id="password" value="" placeholder="new password" >
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="form-group" style="margin-top: 5px;">
                <label style = "text-align: left;font-size: 15px;font-weight: normal;margin-top: 10px;" class="control-label col-md-2">Retype your password</label>
                <div style = "padding-left: 0;" class="col-md-4">
                    <input style = "height: 40px;margin-bottom: 20px;" class="form-control" type="password" name="repassword" id="repassword" value=""  placeholder="retype password" >
                    <a href="javascript:;" onclick="changePassword();" class="btn-forgot btn btn-primary reset-password-btn" style="margin: 5px 0px;">Submit</a>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="message"><p></p></div>
        </div>
    </div>
    <div style="text-align: right; margin-top: 25px;">
        <a class="btn btn-primary" href="<?php echo Yii::app()->request->baseUrl; ?>">Back to Main</a>
    </div>
</div>
