<div id="content">
 <div class="container">
<div class="main-content privacy-policy">
   <h1 class="purple">Terms And Conditions</h1>
   <div class="privacy-content">
       <p><strong>The SportsPass SportsCash Program Terms &amp; Conditions</strong></p>

<p><strong>1.&nbsp;&nbsp; Definitions</strong></p>

<p>1.&nbsp;&nbsp;&nbsp;<strong>The SportsPass SportsCash program</strong>&nbsp;means the rewards program under which a SportsPass member earns SportsCash on Qualifying Transactions and qualifies for SportsCash under these Terms and Conditions.</p>

<p>2.&nbsp;&nbsp;&nbsp;<strong>SportsCash </strong>means the reward credit which is earned from qualifying transactions and can be used under these Terms and Conditions.</p>

<p>3.&nbsp;&nbsp;&nbsp;<strong>Participant</strong>&nbsp;means those companies (and other persons) who have agreed with us to provide SportsCash to SportsPass members and additional members under the SportsPass program. &nbsp;</p>

<p>4.&nbsp;&nbsp;&nbsp;<strong>Qualifying Transaction</strong>&nbsp;means a transaction with a Participant for goods or services on which the Participant issues SportsCash.</p>

<p>5.&nbsp;&nbsp;&nbsp;<strong>Related Bodies Corporate</strong>&nbsp;has the same meaning as in the Corporations Act 2001.</p>

<p>6.&nbsp;&nbsp;&nbsp;<strong>Terms and Conditions</strong>&nbsp;means this document, and any other documents referred to in it</p>

<p><strong>2.&nbsp;&nbsp;&nbsp;Membership of SportsPass SportsCash </strong></p>

<p>1.&nbsp;&nbsp; To be a member of SportsPass, you must have activated your membership at the SportsPass website</p>

<p>2.&nbsp;&nbsp; SportsPass reserves the right to refuse membership at its discretion. &nbsp;</p>

<p><strong>3.&nbsp;&nbsp;&nbsp;Your obligations</strong></p>

<p>1.&nbsp;&nbsp; Using your SportsPass membership during a transaction in accordance with 1.1 above constitutes acceptance of these Terms and Conditions.</p>

<p>2.&nbsp;&nbsp; It is your responsibility to inform us if your personal details change (including, but not limited to, your address, email address or phone number). If SportsPass do not have your correct details, SportsPass may not be able to contact you about your account or send you offers and SportsPass may also restrict operations on your account (such as redemption).</p>

<p>3.&nbsp;&nbsp; The SportsPass membership is not transferable, and remains the property of SportsPass.</p>

<p>4.&nbsp;&nbsp; You may terminate your membership at any time and for any reason by contacting us.</p>

<p><strong>4.&nbsp;&nbsp;&nbsp;General</strong></p>

<p>1.&nbsp;&nbsp; SportsPass may make any change to its Terms and Conditions, including, without limitation:</p>

<p>i)&nbsp;&nbsp;&nbsp;&nbsp; the range of participating retailers and qualifying transactions;</p>

<p>ii)&nbsp;&nbsp;&nbsp; the range of SportsCash offered;</p>

<p>iii)&nbsp;&nbsp; the period for expiry of the SportsCash :</p>

<p>iv)&nbsp; &nbsp;the fees applicable to any and all elements of the SportsCash program</p>

<p>2.&nbsp;&nbsp; &nbsp;SportsPass will give you notice of any change to the Terms and Conditions or as set out in 5.1, at our sole discretion:</p>

<p>i)&nbsp;&nbsp;&nbsp;&nbsp; via the SportsPass website; and/or</p>

<p>ii)&nbsp;&nbsp;&nbsp; by direct communications sent to members.</p>

<p>3.&nbsp;&nbsp; &nbsp;In addition to the right to terminate in 3.6, SportsPass may terminate your SportsPass membership immediately and without notice where you:</p>

<p>i)&nbsp;&nbsp;&nbsp;&nbsp; fail to comply with these Terms and Conditions;</p>

<p>ii)&nbsp;&nbsp;&nbsp; provide misleading information or make any misrepresentation to us or to any participating retailers in connection with SportsCash ;</p>

<p>iii)&nbsp;&nbsp; are abusive or offensive to any of our or our participating retailers</p>

<p>4.&nbsp;&nbsp; Where your SportsPass membership is terminated, you will cease to be entitled to earn and redeem any SportsCash .</p>

<p>5.&nbsp;&nbsp; Respecting your personal information is very important to us. The SportsPass Privacy Statement forms part of these Terms and Conditions. The SportsPass Privacy Statement sets out what personal information SportsPass collect, how SportsPass use it, to whom SportsPass may disclose it and what your privacy choices are. Our Privacy Statement is available on the SportsPass website.</p>

<p>6.&nbsp;&nbsp; SportsPass will not be liable to members for the termination of the SportsCash program including (without limitation) for any SportsCash in your account at the time of termination.</p>

<p>7.&nbsp;&nbsp; &nbsp;Any liability SportsPass may have to you in negligence, breach of contract or otherwise, and all conditions and warranties as to the condition, suitability, quality, fitness or safety of any goods or services supplied by SportsPass whether express or implied by statute, are excluded to the extent permitted by law, and, where liability cannot be excluded, our liability to you will in all cases be limited to:</p>

<p>i)&nbsp;&nbsp;&nbsp;&nbsp; the cost of re-supplying the goods or services or repairing, or paying the costs of repairing, the goods;</p>

<p>ii)&nbsp;&nbsp;&nbsp; reinstating SportsCash in dispute; or,</p>

<p>iii)&nbsp;&nbsp; where the dispute relates to a reward, the value required to redeem the reward.</p>

<p>8.&nbsp;&nbsp; Any tax, liability, or duty incurred by a member arising from a member&#39;s participation in the SportsPass program is the responsibility of the member.</p>

<p>9.&nbsp; Nothing in these Terms and Conditions limits your rights under the Australian Consumer Law.</p>

<p><strong>5. &nbsp;&nbsp;Terms and conditions for specific types of SportsCash </strong></p>

<p>1. The terms and conditions that for each SportsCash reward are provided in the communication surrounding the provision of that reward</p>

<p>2. These conditions are subject to the General Terms &amp; Conditions in clause 4</p>

<p>3. The membership is active as soon as the member joins or is advised on their joining. If the membership has been cancelled or has expired then there is no entitlement to SportsCash</p>

<p><strong>6.&nbsp; Expired, cancelled or inactive memberships</strong></p>

<p>1. &nbsp;The expiry date if any will be advised to the member. Once that date is reached, the membership is no longer activated. And all SportsCash balances will be voided</p>

<p>2.&nbsp; If a membership is cancelled either by SportsPass or by the member then all SportsCash&nbsp;balances will be voided</p>

<p>3. If there is no SportsCash earned by a member for a consecutive period of six months, then their&nbsp;SportsCash &nbsp;balance will be voided.</p>

<p><strong>7.&nbsp; &nbsp;Fees and charges</strong></p>

<p>1. &nbsp;There is no joining fee</p>

<p>2.&nbsp; There is a monthly fee which is advised on joining</p>

<p>2.&nbsp; There is an admin fee for the delivery of eVouchers which is included in the purchase price for eVouchers. This fee varies depending on the eVoucher chosen</p>

<p>3.&nbsp; Fees and charges are subject to change without notice as per the General Conditions in clause 4</p>

<p><strong>8.&nbsp; &nbsp;Use of SportsCash </strong></p>

<p>1. SportsCash is earned as outlined in the Definitions</p>

<p>2. SportsCash is available for use by the members provided their membership is active at the time of use. Expired, cancelled or inactive cards are defined in clause 6</p>

<p>3. SportsCash can only be used by the member as outlined in the SportsPass website</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>
   </div>
</div>
</div></div><!-- content -->
